.circle-container{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    width: 100vw;
    @media (max-width: 768px) {
        margin-top: 15rem;
       }
    .outer-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24rem;
        width: 24rem;
        border: 0.2rem solid var(--accent-color);
        border-radius: 50rem;
        position: relative;
        @media (max-width: 768px) {
            min-height: 16rem;
            min-width: 18rem;
            max-height: 18rem;
            max-width: 22rem;
           }
        .inner-circle{
            height: 20rem;
            width: 20rem;
            border: 0.32rem solid var(--accent-color);
            border-radius: 40rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
                min-height: 16rem;
                min-width: 16rem;
                max-height: 16rem;
                max-width: 16rem;
               }
            img{
                max-inline-size: 100%;
                block-size: auto;
                z-index: 100;
                height: 17rem;
                @media (max-width: 768px) {
                    height: 13.5rem;
                   }
            }
        }

    } 
    .lines{
        display: flex;
        gap: 3rem;
        position: absolute;
        .line{
            height: 28rem;
            width: 0.3rem;
            background-color: var(--accent-color);
            transform: rotate(45deg);
        }
    }
    .angleLeft,
      .angleRight {
        font-size: 1.8rem;
        color: white;
        margin: 1rem;
        cursor: pointer;
        margin-top: 11rem;
        // margin-bottom: 4rem;
        transition: font-size 0.3s ease-in-out;
        &:hover {
          font-size: 2.5rem;
        }
      }
}